@charset "utf-8";
@import url("reset.css");
@import url("slick.css");
@import url("jquery.bxslider.css");

body *{
	word-break:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wrap,body,html{min-width: 280px;}

body,html{
	min-height: 480px;
	background-color: #e4e2e3;
}

body a{text-decoration:none;}

.wrap{
	position:relative;
	display:block;
	margin:0px auto;
	width: 90%;
	max-width: 1440px;
}

.b{display:block;}

.l{
	position:relative;
	float:left;
}

.r{
	position:relative;
	float:right;
}

.c::after{
	clear:both;
	position: relative;
	display: block;
	content: "";
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrap {
	min-height:100%;
	position:relative;
	overflow: hidden;
}

textarea[placeholder] { text-overflow: ellipsis; color:#c9c9c9; opacity: 1; font-weight: 300; }
input[placeholder] { text-overflow: ellipsis; color:#c9c9c9; opacity: 1; font-weight: 300; }
::-moz-placeholder { text-overflow: ellipsis; color:#c9c9c9; opacity: 1; font-weight: 300; }
input::-webkit-input-placeholder {color: #c9c9c9; opacity: 1; font-weight: 300;}
textarea::-webkit-input-placeholder {color: #c9c9c9; opacity: 1; font-weight: 300;}
input:-ms-input-placeholder {color: #c9c9c9; opacity: 1; font-weight: 300;}
textarea:-ms-input-placeholder {color: #c9c9c9; opacity: 1; font-weight: 300;}
